spring:
  application:
    name: Cine.me
  datasource:
    url: jdbc:h2:mem:cineme
    username: sa
    password: password
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true
      path: /h2-console

  sql:
      init:
        mode: always